In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns

In [2]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
client_id = '726e4bf5e6464a8594e0f3533dd7baec'
client_secret = 'bd9cc836ea53492eb506d7c30dae424d'
client_credentials_manager = SpotifyClientCredentials(client_id,client_secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [3]:
first = pd.read_csv("first.csv", index_col=0)
second = pd.read_csv("second.csv", index_col=0)
third = pd.read_csv("third.csv", index_col=0)
fourth = pd.read_csv("fourth.csv", index_col=0)
fifth = pd.read_csv("fifth.csv", index_col=0)
sixth = pd.read_csv("sixth.csv", index_col=0)

In [4]:
first

,title,artist,peakPos,lastPos,weeks,rank,isNew,date,track_uri
0,Poor Little Fool,Ricky Nelson,1,0,1,1,True,1958-08-04,spotify:track:5ayybTSXNwcarDtxQKqvWX
1,Patricia,Perez Prado And His Orchestra,2,0,1,2,True,1958-08-04,spotify:track:2bwhOdCOLgQ8v6xStAqnju
2,Splish Splash,Bobby Darin,3,0,1,3,True,1958-08-04,spotify:track:40fD7ct05FvQHLdQTgJelG
3,Hard Headed Woman,Elvis Presley With The Jordanaires,4,0,1,4,True,1958-08-04,spotify:track:32CVurlBxtEYQlDm3yzCLl
4,When,Kalin Twins,5,0,1,5,True,1958-08-04,spotify:track:3HZJ9BLBpDya4p71VfXSWp
...,...,...,...,...,...,...,...,...,...
19921,I Am Love (Parts I & II),Jackson 5,22,26,8,22,False,1975-03-04,NaN
19922,"Shame, Shame, Shame",Shirley And Company,23,27,9,23,False,1975-03-04,spotify:track:2RvoIv22fdI9Uhife5zdDl
19923,Nightingale,Carole King,9,9,10,24,False,1975-03-04,spotify:track:2RHjNgxFQMTrCLacGKEJwE
19924,No No Song/snookeroo,Ringo Starr,25,31,5,25,False,1975-03-04,NaN
20000,Lovin' You,Minnie Riperton,1,2,12,1,False,1975-04-04,spotify:track:3ebYtLVuV4HzEZUDcpZB9p

In [15]:
sp.album('spotify:album:08TlIPCh7esOAnqBvlmkEt')['genres']

[]

In [ ]:
music=pd.concat([first, second, third, fourth, fifth, sixth])
music=music.dropna()
music=music[music['rank']<=15]
music["year"]=music["date"].apply(lambda x: datetime.date.fromisoformat(x).year)

s=music["year"].value_counts()
sns.relplot(x=s.index, y=s.values)

track_uri_list=pd.DataFrame()

track_uri_list['uri']=pd.Series(music['track_uri'].unique())

In [ ]:
print(music)
print(track_uri_list)

In [ ]:
first=track_uri_list[:1000]
second=track_uri_list[1000:2000]
third=track_uri_list[2000:3000]
fourth=track_uri_list[3000:4000]
fifth=track_uri_list[4000:]

In [ ]:
global total
total=0
def find_audio_features(uri):
    global total
    total=total+1
    print(total/1000)
    print(uri)
    audio_features=sp.audio_features(tracks=[uri])
    return audio_features[0]

In [ ]:
first['features'] = first.apply(lambda uri: find_audio_features(uri['uri']), axis =1)

In [ ]:
first.to_csv('features1.csv')

In [ ]:
second['features'] =second.apply(lambda uri: find_audio_features(uri['uri']), axis =1)

In [ ]:
second.to_csv('features2.csv')

In [ ]:
third['features'] = third.apply(lambda uri: find_audio_features(uri['uri']), axis =1)

In [ ]:
third.to_csv('features3.csv')

In [ ]:
fourth['features'] = fourth.apply(lambda uri: find_audio_features(uri['uri']), axis =1)

In [ ]:
fourth.to_csv('features4.csv')

In [ ]:
fifth['features'] = fifth.apply(lambda uri: find_audio_features(uri['uri']), axis=1 )

In [ ]:
fifth.to_csv('features5.csv')

In [ ]:
newseries=clean_music_df.groupby('year')['tempo'].mean()
print(newseries)

sns.lineplot(data=newseries)
plt.gca().set_title("Average Tempo of Popular Songs Over Time")